@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playfair Display", serif;
  @apply bg-[#f5f5f5];
}

.hypnotic {
  width: 56px;
  height: 56px;
  border: 2.2px solid #474bff;
  display: grid;
  animation: hypnotic-q3fddx 4s infinite linear;
}

.hypnotic::before,
.hypnotic::after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  width: 70.7%;
  height: 70.7%;
  border: 2.2px solid #474bff;
  animation: inherit;
}

.hypnotic::after {
  width: 50%;
  height: 50%;
  border: 2.2px solid #474bff;
  animation-duration: 2s;
}

@keyframes hypnotic-q3fddx {
  100% {
    transform: rotate(1turn);
  }
}
